/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 112.5rem) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  flex: 0 0 20%;
  background-color: var(--color-grey-dark-1); }

.main-view {
  flex: 1; }

.details {
  display: flex;
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }

.description {
  flex: 0 0 65%;
  background-color: #fff;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  margin-right: 4.5rem; }

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  display: flex;
  flex: 0 0 40%;
  justify-content: center; }
  .search__input {
    font-size: inherit;
    font-family: inherit;
    border-radius: 100px;
    border: none;
    background-color: var(--color-grey-light-2);
    width: 90%;
    margin-right: -3.75rem;
    padding: 0.7rem 2rem;
    transition: all 0.2s; }
    .search__input:focus {
      outline: none;
      width: 100%; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__btn {
    border: none;
    background-color: var(--color-grey-light-2); }
    .search__btn:focus {
      outline: none; }
    .search__btn:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notification {
    height: 1.75rem;
    width: 1.75rem;
    font-size: 0.8rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }
  .side-nav__list {
    list-style: none;
    margin-top: 3rem;
    font-size: 1.6rem; }
  .side-nav__item {
    position: relative; }
  .side-nav__item:not(:last-child) {
    margin-bottom: 1rem; }
  .side-nav__item::before {
    content: "";
    width: 3px;
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-light-1);
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative; }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal {
  text-align: center;
  font-size: 1.4rem;
  padding: 2.5rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  border-bottom: var(--line);
  align-items: center;
  font-size: 1.2rem;
  display: flex; }
  .overview__heading {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-stars, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .overview__icon-location {
    margin-right: 0.5rem; }
  .overview__location {
    margin-right: 3rem;
    display: flex;
    align-items: center; }
  .overview__rating {
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    padding: 0rem 2.25rem;
    justify-content: center;
    text-align: center; }
  .overview__note {
    font-size: 2.25rem;
    font-weight: 300; }
  .overview__votes {
    font-size: 0.8rem;
    text-transform: uppercase; }

.btn-inline {
  border: none;
  padding-bottom: 2px;
  background-color: transparent;
  border-bottom: 0.1rem solid currentColor;
  color: var(--color-primary);
  cursor: pointer;
  font-size: inherit;
  display: inline-block;
  transition: all 0.2s; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left 0.2s; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 3rem; }

.list {
  list-style: none;
  border-bottom: var(--line);
  border-top: var(--line);
  margin: 3rem 0;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-top: 1rem; }
  .list__item::before {
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: 0.75rem;
    display: inline-block;
    background-color: var(--color-primary);
    -webkit-mask-image: url("../img/chevron-thin-right.svg");
    -webkit-mask-size: cover;
    mask-image: url("../img/chevron-thin-right.svg");
    mask-size: cover; }

.recommend {
  display: flex;
  font-size: 1.3rem;
  align-items: center; }
  .recommend__count {
    margin-right: auto; }
  .recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }

.review {
  background-color: #fff;
  margin-bottom: 3rem;
  padding: 3rem;
  position: relative; }
  .review::before {
    content: "\201C";
    position: absolute;
    font-size: 20rem;
    line-height: 1rem;
    font-family: sans-serif;
    color: var(--color-grey-light-2);
    top: 7rem;
    left: -1rem;
    z-index: 1; }
  .review__text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  .review__user {
    display: flex; }
  .review__photo {
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    margin-right: 1.5rem; }
  .review__user-name {
    font-weight: 700;
    margin-bottom: 0.5rem; }
  .review__user-date {
    font-size: 1.1rem; }
  .review__rating {
    font-size: 2.2rem;
    color: var(--color-primary);
    font-weight: 300;
    margin-left: 0.75rem; }

.cta {
  background-color: #fff;
  text-align: center;
  padding: 4rem 0; }
  .cta__text {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem; }

.btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn:focus {
    animation: pulsate 1s infinite;
    outline: none; }
  .btn > * {
    height: 100%;
    width: 100%;
    display: inline-block;
    transition: all 0.2s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    position: absolute;
    padding: 2rem;
    top: -100%;
    left: 0; }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
