.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  display: flex;
  flex: 0 0 40%;
  justify-content: center;
  @include respond(phone) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
  &__input {
    font-size: inherit;
    font-family: inherit;
    border-radius: 100px;
    border: none;
    background-color: var(--color-grey-light-2);
    width: 90%;
    margin-right: -3.75rem;
    padding: 0.7rem 2rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__btn {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    height: 1.75rem;
    width: 1.75rem;
    font-size: 0.8rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.side-nav {
  font-size: 1.4rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__list {
    list-style: none;
    margin-top: 3rem;
    font-size: 1.6rem;
    @include respond(tab-land) {
      display: flex;
      margin: 0;
    }
    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &__item {
    position: relative;
    @include respond(tab-land) {
      margin: 0;
      flex: 1;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__item::before {
    content: "";
    width: 3px;
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-light-1);
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative;
    @include respond(tab-land) {
      justify-content: center;
      padding: 2rem;
    }
    @include respond(phone) {
      flex-direction: column;
      padding: 1.5rem 0.5rem;
    }
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
    @include respond(phone) {
      margin-right: 0;
      margin-bottom: 0.7rem;
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.legal {
  text-align: center;
  font-size: 1.4rem;
  padding: 2.5rem;
  @include respond(tab-land) {
    display: none;
  }
}

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

.overview {
  display: flex;
  border-bottom: var(--line);
  align-items: center;
  font-size: 1.2rem;
  display: flex;

  &__heading {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-stars,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }
  &__icon-location {
    margin-right: 0.5rem;
  }

  &__location {
    margin-right: 3rem;
    display: flex;
    align-items: center;
  }
  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    padding: 0rem 2.25rem;
    justify-content: center;
    text-align: center;
  }

  &__note {
    font-size: 2.25rem;
    font-weight: 300;
  }
  &__votes {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

.btn-inline {
  border: none;
  padding-bottom: 2px;
  background-color: transparent;
  border-bottom: 0.1rem solid currentColor;
  color: var(--color-primary);
  cursor: pointer;
  font-size: inherit;
  display: inline-block;
  transition: all 0.2s;
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
  &:hover {
    color: var(--color-grey-dark-1);
    & span {
      margin-left: 8px;
    }
  }
  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 3rem;
}

.list {
  list-style: none;
  border-bottom: var(--line);
  border-top: var(--line);
  margin: 3rem 0;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  &__item {
    flex: 0 0 50%;
    margin-top: 1rem;
  }
  &__item::before {
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: 0.75rem;
    display: inline-block;
    // Older browsers
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;

    //Newer browsers - masks
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      background-image: none;
    }
  }
}

.recommend {
  display: flex;
  font-size: 1.3rem;
  align-items: center;

  &__count {
    margin-right: auto;
  }
  &__friends {
    display: flex;
  }
  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}

.review {
  background-color: #fff;
  margin-bottom: 3rem;
  padding: 3rem;
  position: relative;
  &::before {
    content: "\201C";
    position: absolute;
    font-size: 20rem;
    line-height: 1rem;
    font-family: sans-serif;
    color: var(--color-grey-light-2);
    top: 7rem;
    left: -1rem;
    z-index: 1;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
  }
  &__user {
    display: flex;
  }
  &__photo {
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    margin-right: 1.5rem;
  }

  &__user-name {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  &__user-date {
    font-size: 1.1rem;
  }
  &__rating {
    font-size: 2.2rem;
    color: var(--color-primary);
    font-weight: 300;
    margin-left: 0.75rem;
  }
}

.cta {
  background-color: #fff;
  text-align: center;
  padding: 4rem 0;
  &__text {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
  }
}

.btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }
  &:focus {
    animation: pulsate 1s infinite;
    outline: none;
  }

  & > * {
    height: 100%;
    width: 100%;
    display: inline-block;
    transition: all 0.2s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }
  &__invisible {
    position: absolute;
    padding: 2rem;
    top: -100%;
    left: 0;
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }
}
